services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - data-network

  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: transactions_db
    ports:
      - "5433:5432"
    networks:
      - data-network

  broker:
    image: confluentinc/cp-kafka:7.3.0
    container_name: broker
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_INTERNAL://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    networks:
      - data-network

  jobmanager:
    image: flink:1.17.0-java11
    ports:
      - "8081:8081"
    command: jobmanager
    volumes:
      - ./jars/flink-sql-connector-kafka-1.17.0.jar:/opt/flink/lib/flink-sql-connector-kafka-1.17.0.jar
      - ./jars/flink-connector-files-1.17.0.jar:/opt/flink/lib/flink-connector-files-1.17.0.jar
      - ./jars/flink-shaded-hadoop-3-uber-3.1.1.7.2.9.0-173-9.0-nocli.jar:/opt/flink/lib/flink-shaded-hadoop-uber.jar
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        fs.allowed-fallback-filesystems: hdfs
    networks:
      - data-network

  taskmanager:
    image: flink:1.17.0-java11
    depends_on:
      - jobmanager
    command: taskmanager
    volumes:
      - ./jars/flink-sql-connector-kafka-1.17.0.jar:/opt/flink/lib/flink-sql-connector-kafka-1.17.0.jar
      - ./jars/flink-connector-files-1.17.0.jar:/opt/flink/lib/flink-connector-files-1.17.0.jar
      - ./jars/flink-shaded-hadoop-3-uber-3.1.1.7.2.9.0-173-9.0-nocli.jar:/opt/flink/lib/flink-shaded-hadoop-uber.jar
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 2
        fs.allowed-fallback-filesystems: hdfs
    networks:
      - data-network

  flink-job:
    build: .
    container_name: flink-job
    depends_on:
      - jobmanager
      - taskmanager
      - broker
      - namenode
    networks:
      - data-network
    volumes:
      - ./jars/flink-sql-connector-kafka-1.17.0.jar:/opt/flink/lib/flink-sql-connector-kafka-1.17.0.jar
      - ./jars/flink-connector-files-1.17.0.jar:/opt/flink/lib/flink-connector-files-1.17.0.jar
      - ./jars/flink-shaded-hadoop-3-uber-3.1.1.7.2.9.0-173-9.0-nocli.jar:/opt/flink/lib/flink-shaded-hadoop-uber.jar
    environment:
      - PYTHONUNBUFFERED=1
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        fs.allowed-fallback-filesystems: hdfs

  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    ports:
      - "9870:9870"
      - "9000:9000"
    environment:
      - CLUSTER_NAME=test
    env_file:
      - .env
    networks:
      - data-network

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    depends_on:
      - namenode
    env_file:
      - .env
    networks:
      - data-network

networks:
  data-network:
    driver: bridge